@{
    ViewData["Title"] = "Referral";
}

<link rel="stylesheet" href="~/css/formstyle.css" asp-append-version="true" />

<div class="container @((User.Identity.IsAuthenticated) ? "content" : "")" style="font-size: 15px;">
    <div class="row align-items-center mb-2">
        <div class="col-md-4 text-center">
            <img src="~/images/MI_logo.jfif" alt="Logo" class="img-fluid">
        </div>

        <div class="col-md-8">
            <h2 class="text-end"><strong>Republic of the Marshall Islands</strong></h2>
            <h2 class="text-end"><strong>Public School System</strong></h2>
            <h4 class="text-end"><strong>Special Education Referral (SE-1)</strong></h4>
            <div class="text-end mt-3">
                <button class="btn btn-primary mt-1 me-2">Print Page</button>
                <button class="btn btn-primary mt-1">Toggle Language</button>
            </div>
        </div>
    </div>

    <div class="mb-2">
        <p class="justify">
            This form is to be used to initiate the review of a student’s progress and any developmental, academic, or school problems.
            Please submit the completed form to the principal of the student’s school or the child's school attendance area school.
            Following a review by the school child study team, you will be informed of its disposition.
        </p>
        <p class="justify">
            <b>Instructions for Parents completing this form:</b><br>
            Parents, please complete sections 1, 2, and 3. This referral will be reviewed to determine need for evaluation.
            Parents will be informed and asked to give their written consent before an evaluation is initiated or a change in program is made.
        </p>
        <p class="justify">
            <b>Instructions for other Service Providers completing this form:</b><br>
            School, Health Services, Head Start, and/or Other Agency Personnel, please complete sections 1, 2, and 3.
            As appropriate complete and attach the Screening Information Form (SE-2).
        </p>
    </div>

    <form>
        <section class="mb-3">
            <div class="mb-3 text-center p-2 section-header"><strong>Section 1: Child/Student Being Referred</strong></div>

            <div class="row mb-2 align-items-center">
                <b class="col-auto width-15">Full Name:</b>
                <div class="col">
                    <label for="lastName" class="form-label">Last Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col">
                    <label for="firstName" class="form-label">First Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col">
                    <label for="middleInitial" class="form-label">Middle Initial</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row mb-2 align-items-center">
                <b class="col-auto width-15">Address:</b>
                <div class="col">
                    <label for="village" class="form-label">Village <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col">
                    <label for="atoll" class="form-label">Atoll <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col">
                    <label for="poBox" class="form-label">P.O. Box No. <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="fathersName" class="form-label">Father's Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col">
                    <label for="mothersName" class="form-label">Mother's Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="guardiansName" class="form-label">Guardian's Name (if applicable)</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="phone" class="form-label">Phone <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="sex" class="form-label">Sex <span class="text-danger">*</span></label>
                    <select class="form-select" required>
                        <option value="">Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="col">
                    <label for="age" class="form-label">Age <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col">
                    <label for="dateOfBirth" class="form-label">Date of Birth <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input type="date" class="form-control px-3" required>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="hospitalNo" class="form-label">Hospital No. <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col">
                    <label for="ssn" class="form-label">Social Security No. <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
                <div class="col">
                    <label for="grade" class="form-label">Grade <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="primaryLanguage" class="form-label">Primary Language of Child/Student <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="parentLanguage" class="form-label">Primary Language of Parent or Guardian <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" required>
                </div>
            </div>
        </section>


        <section class="mb-3">
            <div class="mb-3 text-center p-2 section-header"><strong>Section 2: Reason for Referral (Please Check All Areas of Concern)</strong></div>

            <div class="table-responsive">
                <table class="table table-bordered three-equal-width">
                    <tr>
                        <td><input type="checkbox" class="form-check-input small-check-box"> Vision</td>
                        <td><input type="checkbox" class="form-check-input small-check-box"> Hearing</td>
                        <td><input type="checkbox" class="form-check-input small-check-box"> Physical</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="form-check-input small-check-box"> Behavior</td>
                        <td><input type="checkbox" class="form-check-input small-check-box"> Speech</td>
                        <td><input type="checkbox" class="form-check-input small-check-box"> Language</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="form-check-input small-check-box"> Medical</td>
                        <td><input type="checkbox" class="form-check-input small-check-box"> Academic</td>
                        <td><input type="checkbox" class="form-check-input small-check-box"> Learning in Subject Area</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="form-check-input small-check-box"> School Attendance</td>
                        <td><input type="checkbox" class="form-check-input small-check-box"> Other (please specify)</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input type="checkbox" class="form-check-input small-check-box">  Pre-school age child’s total score on the Micronesia Inventory of Development (MID)
                            is in referral range (attach copy of child’s capital MID Scoring Sheet)
                        </td>
                    </tr>
                </table>
            </div>


            <div class="input-group">
                <label>
                    Please describe the area(s) of concern and what kind of help you think the child/student needs:
                </label>
                <textarea></textarea>
            </div>
        </section>

        <section class="mb-3">
            <div class="mb-3 text-center p-2 section-header"><strong>Section 3: Name of Person Making This Referral</strong></div>

            <div class="row mb-2">
                <div class="col">
                    <label for="referralName" class="form-label">Full Name <span class="text-danger">*</span></label>
                    <input type="text" id="referralName" class="form-control" required>
                </div>
                <div class="col">
                    <label for="relationship" class="form-label">Relationship to child/student or agency/position <span class="text-danger">*</span></label>
                    <input type="text" id="relationship" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="phone" class="form-label">Phone <span class="text-danger">*</span></label>
                    <input type="text" id="phone" class="form-control" required>
                </div>
                <div class="col">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" id="email" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="referralDate" class="form-label">Date <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input type="date" id="referralDate" class="form-control px-3" required>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
        </section>

        <section class="mb-3">
            <div class="mb-3 text-center p-2 section-header"><strong>Section 4: For School Use Only</strong></div>

            <div class="row mb-2">
                <div class="col">
                    <label for="dateReferralReceived" class="form-label">Date Referral Received</label>
                    <div class="input-group">
                        <input type="date" id="dateReferralReceived" class="form-control px-3" required>
                    </div>
                </div>
                <div class="col">
                    <label for="dateChildStudyTeam" class="form-label">Date referred to child study team</label>
                    <div class="input-group">
                        <input type="date" id="dateChildStudyTeam" class="form-control px-3" required>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="dateTeamRecommendation" class="form-label">Date of team recommendation</label>
                    <div class="input-group">
                        <input type="date" id="dateTeamRecommendation" class="form-control px-3" required>
                    </div>
                </div>
                <div class="col">
                    <label for="disposition" class="form-label">Disposition</label>
                    <div class="input-group">
                        <input type="date" id="disposition" class="form-control px-3" required>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="dateDispositionNoticeReferring" class="form-label">Date of disposition notice to person referring</label>
                    <div class="input-group">
                        <input type="date" id="dateDispositionNoticeReferring" class="form-control px-3" required>
                    </div>
                </div>
                <div class="col">
                    <label for="dateDispositionNoticeParent" class="form-label">Date of disposition notice to parent</label>
                    <div class="input-group">
                        <input type="date" id="dateDispositionNoticeParent" class="form-control px-3" required>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="dateParentConsentEvaluation" class="form-label">Date of parental consent for evaluation</label>
                    <div class="input-group">
                        <input type="date" id="dateParentConsentEvaluation" class="form-control px-3" required>
                    </div>
                </div>
                <div class="col">
                    <label for="dateReferralEvaluationTeam" class="form-label">Date of referral to evaluation team</label>
                    <div class="input-group">
                        <input type="date" id="dateReferralEvaluationTeam" class="form-control px-3" required>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="dateEvaluationTeamRecommendation" class="form-label">Date of evaluation team recommendation</label>
                    <div class="input-group">
                        <input type="date" id="dateEvaluationTeamRecommendation" class="form-control px-3" required>
                    </div>
                </div>
                <div class="col">
                    <label for="recommendation" class="form-label">Recommendation</label>
                    <div class="input-group">
                        <input type="date" id="recommendation" class="form-control px-3" required>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="dateParentNoticeMeeting" class="form-label">Date of parent notice for meeting</label>
                    <div class="input-group">
                        <input type="date" id="dateParentNoticeMeeting" class="form-control px-3" required>
                    </div>
                </div>
                <div class="col">
                    <label for="dateIEPMeeting" class="form-label">Date of IEP Meeting</label>
                    <div class="input-group">
                        <input type="date" id="dateIEPMeeting" class="form-control px-3" required>
                    </div>
                </div>
            </div>
        </section>

        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary w-50 me-3" onclick="history.back()">
                <i class="fas fa-arrow-left me-2"></i> Back
            </button>
            <button type="submit" class="btn btn-primary w-50">Submit</button>
        </div>
    </form>
</div>

