@{
    ViewData["Title"] = "List User";
}

<div class="container-fluid" style="padding-top: 60px;">
    <div class="d-flex justify-content-end align-items-center my-3">
        <a asp-controller="User" asp-action="Add" class="btn btn-primary">
            <i class="fas fa-user-plus me-2"></i> 
            Add New User
        </a>
    </div>
</div>