@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IApplicationUserRepository ApplicationUserRepository

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var loginUser = ApplicationUserRepository.Get(user => 
        user.UserName.ToLower() == User.Identity.Name.ToLower()
    );

    <li class="nav-item">
        <a class="nav-link btn-logout" asp-area="Identity" asp-page="/Account/Manage/Index">
            @loginUser.FirstName @loginUser.LastName
        </a>
    </li>
    <li class="nav-item d-flex align-items-center">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn-logout p-0 m-0">
                Logout
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
