@inject IApplicationUserRepository ApplicationUserRepository

@{
    var loginUser = await ApplicationUserRepository.GetAsync(user =>
        user.UserName.ToLower() == User.Identity.Name.ToLower()
    );
}

<div class="top-bar">
    <button class="toggle-btn" onclick="toggleSidebar()" id="sidebarToggle"><i class="fas fa-bars"></i></button>
    <span class="user-info">Hello, @loginUser.FirstName @loginUser.LastName!</span>
</div>

<div class="sidebar" id="sidebar">
    <h4 class="text-align-center">RMIPSS System</h4>
    <div class="text-align-center mb-1">
        <img src="~/images/logo.png" alt="Logo" class="side-logo">
    </div>

    <a asp-area="" asp-controller="Student" asp-action="ListStudent">Student List</a>
    <a asp-area="" asp-controller="User" asp-action="List">User List</a>
    <a asp-area="" asp-controller="Referral" asp-action="CreateReferralForm">Referral</a>
    <a asp-area="" asp-controller="SE2" asp-action="ScreeningInformationForm" asp-route-id="1">SE-2 Form</a>
    <a asp-area="" asp-controller="ConsentForm" asp-action="ConsentFormEvaluationReevaluation" asp-route-id="1">Consent Form</a>
    <hr>

    <a asp-area="Identity" asp-page="/Account/Manage/Index">
        <i class="fas fa-cog"></i>
        Settings
    </a>

    <form asp-area="Identity" asp-page="/Account/Logout"
          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" style="all: unset;">
            <i class="fas fa-sign-out-alt"></i> Logout
        </button>
    </form>
</div>