@{
    ViewData["Title"] = "Consent Form";
}
@model RMIPSS_System.Models.Entities.ConsentForm

<div class="container">
    <div class="flex-container">
        <img src="~/images/MI_logo.jfif" alt="Logo" style="width: 225px; height: 210px;">
        <div>
            <h3 class="text-right">Republic of the Marshall Islands</h3>
            <h3 class="text-right">Public School System</h3>
            <h5 class="text-right">Consent for Evaluation/Reevaluation (SE-4)</h5>
        </div>
    </div>


    <form method="post" asp-action="Create">
        <div class="section">
            <strong>Personally Delivered</strong><br>
            <p>Date: <input asp-for="Date"  type="date"></p>
        </div>

        <div class="section">
            <p>To: <input asp-for="To" type="text" placeholder="Enter Parent(s) Name"></p>
            <p>From: <input asp-for="From"   type="text" placeholder="Enter Principal's Name"></p>
        </div>
        <div class="section">
            <div class ="border text-center p-2 section-header"><strong>SUBJECT:</strong> Consent for Initial Evaluation or Reevaluation Form SE-4</div>
            <p class="border p-2">Instructions to Parents: Please complete Part III as indicated below. Please sign your name and fill in the date on the bottom of the page and return this form to the school. Your child’s placement will not be changed without your knowledge and consent or until due process has been exhausted.</p>
        </div>

        <div class="section">
            <strong>Part I</strong>
            <label class="text-justify"><input type="radio" asp-for="Evaluation" value="true"  class="checkbox"> The request for an initial evaluation for your child has been received. This initial comprehensive educational evaluation will be used to determine your child’s eligibility; a bilingual evaluator or bilingual assistance may be used in the evaluation. Before the initial evaluation can be conducted, your written consent is required.</label>
        </div>

        <div class="section">
            <strong>Part II</strong>
            <label><input type="radio" asp-for="Evaluation" value="false" class="checkbox"> The request for a reevaluation for a possible change in placement for your child has been received. This reevaluation will be used to determine your child’s eligibility for special education. If your child has a language other than English or Marshallese, a reevaluation for a possible change in placement can be conducted, your written consent is required.</label>
        </div>

        <div class="section">
            <strong>Part III</strong>
            <label><input type="radio" asp-for="ConsentOption"  value="0"  class="checkbox"> I give my consent for an initial reevaluation to be conducted by the Ministry of Education.</label>
            <label><input type="radio" asp-for="ConsentOption"  value="1"  class="checkbox"> I do not give my consent for an initial or reevaluation to be conducted by Ministry of Education.</label>
            <label><input type="radio" asp-for="ConsentOption"  value="2"  class="checkbox"> I will obtain, at my own expense, an Independent educational evaluation and provide the results to the school principal and Special Education Program.</label>
        </div>

        <div class="section">
            <label>Granting parental consent is voluntary. Parents retain the right to refuse consent for initial evaluation or for reevaluation for a possible change in placement and to revoke it at any time. However, should a parent refuse consent or revoke it, the Ministry of Education may then request a hearing to obtain approval to conduct the initial evaluation or reevaluation for a possible change in placement. Parents have the right to seek an independent evaluation. Under certain conditions this evaluation may be at public expense. In addition, please note in the Parents' Rights and Due Process Procedures in Chapter 25 of education rules and regulations that an impartial hearing may be requested by a parent or the Ministry of Education on any matter relating to proposed (or refused) action to initiate (or change) the identification, evaluation, program, or placement of a child.</label>
        </div>

        <div class="row section">
            <div class="col-6">Signature of Parent: <input type="text" placeholder="Enter Signature"></div>
            <div class="col-6">Date: <input type="date"></div>
        </div>

        <div class="submit-button">
            <button type="submit" >Submit</button>
        </div>
    </form>
</div>


