html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f7f9fc;
    font-family: 'Arial', sans-serif;
    margin-bottom: 60px;
}

.btn-primary {
    background-color: #004080;
    border-color: #004080;
}
.btn-primary:not(.disabled):hover {
    background-color: #003366;
    border-color: #003366;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.btn-logout {
    background: none;
    border: 2px solid transparent;
    color: #fff;
    padding: 5px 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.btn-logout:hover {
    background-color: #003594;
    color: var(--bs-nav-link-hover-color);
    border-color: #003594;
    cursor: pointer;
}
.btn-logout:active {
    transform: scale(0.98);
}