@{
    ViewData["Title"] = "SE-2 Screening Information Form";
}

<link rel="stylesheet" href="~/css/formStyleSheet.css" asp-append-version="true" />

<div class="container p-0">
    <div class="row align-items-center mb-2">
        <div class="col-md-4 text-center">
            <img src="~/images/MI_logo.jfif" alt="Logo" class="img-fluid">
        </div>

        <div class="col-md-8">
            <h2 class="text-end"><strong>Republic of the Marshall Islands</strong></h2>
            <h2 class="text-end"><strong>Public School System</strong></h2>
            <h4 class="text-end"><strong>Special Education Referral (SE-2)</strong></h4>
            <div class="text-end mt-3">
                <button class="btn btn-primary mt-1 me-2">Print Page</button>
                <button class="btn btn-primary mt-1">Toggle Language</button>
            </div>
        </div>
    </div>

    <div class="mb-2">
        <p class="justify">
            This form is to be completed by the teacher or agency person making this referral and members of the child study team.
            Information from other teachers, other agencies, and the students’ parents may also be needed to complete this form.
        </p>
        <p class="justify">
            <b>Instructions for other Service Providers completing this form:</b><br>
            SE-2 is to be used as a tool to help the student’s teacher and members of the child study team identify specific concerns
            regarding a student’s progress in school or a pre-school child’s developmental progress. This information and other
            information will assist the child study team in determining whether a referral for an individual special education
            evaluation is needed at this time or if not, how better to address the area(s) of concern. When a referral for special
            education evaluation is made, a copy of this form is to be sent with other documents to the Special Education office.
            One copy of this form should remain in the child’s confidential file at the school.
        </p>
    </div>

    <form>
        <section class="mb-3">
            <div class="mb-3 text-center p-2 section-header"><strong>Section 1: Child/Student Being Referred</strong></div>

            <div class="row mb-2 align-items-center">
                <b class="col-auto width-15">Full Name:</b>
                <div class="col">
                    <label for="lastName" class="form-label">Last Name <span class="text-danger">*</span></label>
                    <input type="text" id="lastName" class="form-control" required>
                </div>
                <div class="col">
                    <label for="firstName" class="form-label">First Name <span class="text-danger">*</span></label>
                    <input type="text" id="firstName" class="form-control" required>
                </div>
                <div class="col">
                    <label for="middleInitial" class="form-label">Middle Initial</label>
                    <input type="text" id="middleInitial" class="form-control">
                </div>
            </div>

            <div class="row mb-2 align-items-center">
                <b class="col-auto width-15">Address:</b>
                <div class="col">
                    <label for="village" class="form-label">Village <span class="text-danger">*</span></label>
                    <input type="text" id="village" class="form-control" required>
                </div>
                <div class="col">
                    <label for="atoll" class="form-label">Atoll <span class="text-danger">*</span></label>
                    <input type="text" id="atoll" class="form-control" required>
                </div>
                <div class="col">
                    <label for="poBox" class="form-label">P.O. Box No. <span class="text-danger">*</span></label>
                    <input type="text" id="poBox" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="fathersName" class="form-label">Father's Name <span class="text-danger">*</span></label>
                    <input type="text" id="fathersName" class="form-control" required>
                </div>
                <div class="col">
                    <label for="mothersName" class="form-label">Mother's Name <span class="text-danger">*</span></label>
                    <input type="text" id="mothersName" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="guardiansName" class="form-label">Guardian's Name (if applicable)</label>
                    <input type="text" id="guardiansName" class="form-control">
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="phone" class="form-label">Phone <span class="text-danger">*</span></label>
                    <input type="text" id="phone" class="form-control" required>
                </div>
                <div class="col">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" id="email" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="sex" class="form-label">Sex <span class="text-danger">*</span></label>
                    <select id="sex" class="form-select" required>
                        <option value="">Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="col">
                    <label for="age" class="form-label">Age <span class="text-danger">*</span></label>
                    <input type="text" id="age" class="form-control" required>
                </div>
                <div class="col">
                    <label for="dateOfBirth" class="form-label">Date of Birth <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input type="date" id="dateOfBirth" class="form-control px-3" required>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="hospitalNo" class="form-label">Hospital No. <span class="text-danger">*</span></label>
                    <input type="text" id="hospitalNo" class="form-control" required>
                </div>
                <div class="col">
                    <label for="ssn" class="form-label">Social Security No. <span class="text-danger">*</span></label>
                    <input type="text" id="ssn" class="form-control" required>
                </div>
                <div class="col">
                    <label for="grade" class="form-label">Grade <span class="text-danger">*</span></label>
                    <input type="text" id="grade" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="primaryLanguage" class="form-label">Primary Language of Child/Student <span class="text-danger">*</span></label>
                    <input type="text" id="primaryLanguage" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="parentLanguage" class="form-label">Primary Language of Parent or Guardian <span class="text-danger">*</span></label>
                    <input type="text" id="parentLanguage" class="form-control" required>
                </div>
            </div>
        </section>

        <section class="mb-3">
            <div class="mb-3 text-center p-2 section-header"><strong>Section 2: Name of Person Completing this Form</strong></div>

            <div class="row mb-2">
                <div class="col">
                    <label for="referralName" class="form-label">Full Name <span class="text-danger">*</span></label>
                    <input type="text" id="referralName" class="form-control" required>
                </div>
                <div class="col">
                    <label for="relationship" class="form-label">Relationship to child/student or agency/position <span class="text-danger">*</span></label>
                    <input type="text" id="relationship" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="phone" class="form-label">Phone <span class="text-danger">*</span></label>
                    <input type="text" id="phone" class="form-control" required>
                </div>
                <div class="col">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" id="email" class="form-control" required>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label for="referralDate" class="form-label">Date <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input type="date" id="referralDate" class="form-control px-3" required>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
        </section>

        <section>
            <div class="mb-3 text-center p-2 section-header">
                <strong>Check the areas of concern. Briefly describe the concerns under section H (comments) below)</strong>
            </div>

            <!-- Physical Section -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2" class="fw-bold text-center bg-primary text-white">A. PHYSICAL</td>
                        </tr>
                        <tr>
                            <td class="text-center width-40px">
                                <input class="form-check-input" type="checkbox" id="physical1">
                            </td>
                            <td>1. Child/student has seizures or seizure-like behavior</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" id="physical2">
                            </td>
                            <td>2. Child/student stares into space for a minute or so and does not respond to questions</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" id="physical3">
                            </td>
                            <td>3. Child/student has a congenital disability</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" id="physical4">
                            </td>
                            <td>4. Child/student has a physical disability</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" id="physical5">
                            </td>
                            <td>5. Child/student falls or bumps into a lot of things</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" id="physical6">
                            </td>
                            <td>6. Child/student cannot walk</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" id="physical7">
                            </td>
                            <td>7. Child/student has difficulty holding and using a pencil, crayon, or fork/spoon</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" id="physical8">
                            </td>
                            <td>8. Child/student seems small for age or underfed</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" id="physical9">
                            </td>
                            <td>9. Child/student score is below cut-off score for "Gross Motor" or "Fine Motor" sections of the MID [for preschool-age children only]</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox" id="physical10">
                            </td>
                            <td>
                                10. Other (please specify):
                                <input type="text" class="form-control mt-2" id="physicalOther" placeholder="Enter text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Vision Section -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2" class="fw-bold text-center bg-primary text-white">B. VISION</td>
                        </tr>
                        <tr>
                            <td class="text-center width-40px">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>1.	Child/student gets closer to the blackboard to see what’s on it</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>2.	Child/student often copies incorrectly from the blackboard</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>3.	Child/student holds a book or paper very close to his/her face</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>4.	Child/student holds a book or paper very far from his/her face</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>5.	Child/student’s eyes appear to turn in or out</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>6.	Child/student rubs his/her eyes a lot</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>7.	Child/student does not appear to see</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>
                                8. Other (please specify):
                                <input type="text" class="form-control mt-2" placeholder="Enter text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Hearing Section -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2" class="fw-bold text-center bg-primary text-white">C. HEARING</td>
                        </tr>
                        <tr>
                            <td class="text-center width-40px">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>1.	Child/student often asks to have instructions repeated</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>2.	Child/student often does not answer when spoken to</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>3.	Child/student does not respond to loud noises</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>4.	Child/student often has a discharge from his/her ear</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>5.	Child/student holds ear with hand to hear better</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>6.	Child/student often complains of ear aches</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>7.	Child/student does not appear to hear</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>
                                8. Other (please specify):
                                <input type="text" class="form-control mt-2" placeholder="Enter text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Language And Speech Section -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2" class="fw-bold text-center bg-primary text-white">D. LANGUAGE AND SPEECH</td>
                        </tr>
                        <tr>
                            <td class="text-center width-40px">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>1.	Child/student often does not appear to understand the names of familiar objects</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>2.	Child/student often does not follow simple directions given in his/her primary language</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>3.	Child/student seems unable to answer simple questions given his/her primary language</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>4.	Child/student talks much like a younger child</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>5.	Child/student is hard to understand when he/she talks in his/her primary language</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>6.	Child/student has difficulty saying and imitating or repeating words in his/her primary language</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>7.	Child/student often uses gestures instead of words to let you know what he/she wants</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>8.	Child/student does not speak</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>9.	Child/student’s score is below cut off score for “Understanding Language” or “Spoken Language” sections of the MID [pre-school age children only]</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>
                                10. Other (please specify):
                                <input type="text" class="form-control mt-2" placeholder="Enter text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Behavior Section -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2" class="fw-bold text-center bg-primary text-white">E. BEHAVIOR</td>
                        </tr>
                        <tr>
                            <td class="text-center width-40px">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>1.	Child/student is much more active than his/her peers</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>2.	Child/student is inattentive for his/her age (e.g., short attention span, easily distracted, cannot stay on task)</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>3.	Child/student often does not complete task</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>4.	Child/student does not talk or play with others</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>5.	Child/student usually plays with much younger children</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>6.	Child/student does not appear to have friends (e.g., teased, rejected, ignored, or abused by peers)</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>7.	Child/student often hits others and/or destroys things</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>8.	Child/student’s score is below cut off score for “Self-Help and Social” section of MID [pre-school age only]</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>
                                9. Other (please specify):
                                <input type="text" class="form-control mt-2" placeholder="Enter text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Academic/Pre-Academic Section -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2" class="text-center bg-primary text-white">
                                <strong>F. ACADEMIC/PRE-ACADEMIC </strong>
                                <span class="small">
                                    (Items 1-5 are for school-age children; item 6 is for pre-school-age children)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center width-40px">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>1.	Child/student has difficulty reading</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>2.	Child/student cannot read</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>3.	Child/student has difficulty understanding new math concepts</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>4.	Child/student appears way behind other students his/her age in understanding math concepts</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>5.	Child/student appears way behind other students his/her age in spelling</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>6.	Child/student’s score is below cut off score for “Cognitive and Perception” section of MID [for pre-school age children only]</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>
                                7. Other (please specify):
                                <input type="text" class="form-control mt-2" placeholder="Enter text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Other Concerns Section -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2" class="fw-bold text-center bg-primary text-white">G. OTHER CONCERNS</td>
                        </tr>
                        <tr>
                            <td class="text-center width-40px">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>1.	Child/student attendance</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>2.	Child/student appears to have drug-or alcohol related problems</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>3.	Child/student’s family situation is not conducive to or unable to support Child/student’s educational needs</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>4.	Child/student comes to school with bruises, cuts, or other injuries that appear to be inflicted by others</td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>
                                5. Other (please specify):
                                <input type="text" class="form-control mt-2" placeholder="Enter text">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Comments Section -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2" class="fw-bold text-center bg-primary text-white">H. COMMENTS</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea class="mt-2" placeholder="Enter text"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary w-50 me-3" onclick="history.back()">
                <i class="fas fa-arrow-left me-2"></i> Back
            </button>
            <button type="submit" class="btn btn-primary w-50">Submit</button>
        </div>
    </form>
</div>
